*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container, .container-fluid {

  text-align: center;
  margin-top: 85px;

  
}


 .header img{
  width: 80%;
  padding-top: 10px;

 }

 .header ul{
  list-style-type: none;
  display:flex;
  gap: 2rem;
  padding-top: 20px;
  
}


.header li{
  text-decoration: none;
}


.btn {
  background-color: #f4be2c;
  border: #f4be2c;
  color: white;
  font-weight: 500;
  border-radius: 1px !important;
  padding: 8px;
  padding: 5px 15px 5px 15px;
}

.btn:hover{
  background-color: #ff9b0f;
  border: #F1C548;
  border-radius: 1px !important;
  padding: 5px 15px 5px 15px;
  color: white;
}



.btn-c{
  background-color: #EBF3F6;
  border: #F1C548;
  color: black;
  font-weight: 500;
}

.btn-c:hover{
  background-color: #EBF3F6;
  color: black;
  font-weight: 600;
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EBF3F6;
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
 }


 h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 30px;
 }

 h2 {
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
  font-weight: 500;
  margin:20px 0;
 }

 h3 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  text-align: center;

 }

h5{
  font-size: 16px;
}

h6 {
  float: right;

}



.card-bottom a{

  text-decoration: none;
  color:#1F4035;
  }

  
.card-bottom a:hover{

  text-decoration: none;
  color:white;
  }


 .modal-content .top-banner-modal {
  background-color: #F1C548;

}

.modal-dialog {
  border-radius: 20px;
}

.top-banner-text {
  text-align: center;
}

.top-banner-btn {
  background-color:#F1C548;
  justify-content: center !important;
  border: solid #F1C548 1px;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 40px;
}

.top-banner-btn:hover{
  background-color:#FBA731;
}


.navbar img{
width: 60%;
margin-top: 13px;


 }

 .navbar ul{
  list-style-type: none;
  display:flex;
  gap: 3rem;
  padding-top: 20px;
  
}


/* .navbar li{
  text-decoration: none;
  float:left;   
} */



nav a{
  text-decoration: none;
  color: #007D6F;
  display: flex;
  align-items: center;
  height:100%;
  font-weight: 500;

  
}



nav a.active{
  font-weight: 500;
  color:#F1C548;
}

nav a:hover{
  color: #007D6F;
  font-weight: 600;
  }

nav {
  font-weight: 300;
  height: 85px;
}


.login {
  border: solid #F1C548;
  padding: 2px;
  background-color: #FBA731;

}

.container {
  padding: auto;
}

.card-container {
  padding: 20px;
  margin-top: 100px;
}

/*****Sign Up Form Starts Here*****/

.googlebutton{
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 10px 123px;
  border-radius: 5px;
  color:black;
  border: rgb(132, 132, 132) solid 1px;
  margin-bottom: 50px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.googlebutton:hover{
  background-color:#dfdfdf;  
}

.googlebutton img{

  justify-self: start;
}

.btn-sign-to-google {
  background-color: #f4be2c;
  border: #f4be2c;
  color: #1F4035;
  font-weight: 600;
  border-radius: 1px !important;
  padding: 8px;
  padding: 5px 190px;
  border-radius: 20px !important;
  
}

.btn-sign-to-google:hover{
  background-color: #FBA731;
  border: #f4be2c;
  color: #1F4035;
  font-weight: 600;
  border-radius: 1px !important;
  padding: 8px;
  padding: 5px 190px;
  border-radius: 20px !important;
  
}


.signup-modal{
  background-color: #F1C548;
}


#signUpForm {
  justify-content: center;
  text-align: center;
}

.signup-image img {
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: 15%;

}


h4 {
  text-align: center;
  font-weight: 400;
  color: #505050;
  text-decoration: none;
}

h5{
  text-align: center;
}

h6 {
  text-align: center;
  font-weight: 400;
  color: #505050;
}


.google-login {
  width: 200px !important;
}

.terms {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: white;
 
}

.modal-close{
  background-color: #EBF3F6!important;
  font-weight: 400;
  font-size: 20px;
  border: none;
  align-items: flex-end;
  border-radius: 20px;
  text-align: end;
  margin-left: 20px;
}



.modal-content {
  background-color: #EBF3F6;

}

button .modal-close{
  text-align: end;
}

.modal-footer {
  justify-content: center;
  background-color: #007D6F;
  height: 50%;
}

.modal-footer a {
  color: white;
}

.social-icon {
  padding-right: 25px;
}





/*****Sign Up Form Ends Here*****/

/*****Hero Banner Starts Here*****/

.heroBanner:before {
  content: "";
  background-color: rgb(0 125 111 / 91%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
}

.heroBanner{
  height: 100%;
  background-size: cover!important;
  position: relative;
  overflow: hidden!important;
  padding: 60px 0 100px 0;
 

}


.login-herobanner {
 background-color:white;
}

.form-row .heroBanner-signup-email a {
  color: #F1C548;
  font-size: 18px;
  font-weight: 500;
}

.form-row .heroBanner-signup-email a:hover {
  color: #FBA731;
  font-size: 18px;
  font-weight: 500;
}



.heroBanner .bannerlogin {
  z-index: 3;
  position: relative;

}


.heroBanner .eform{
  z-index: 6;
  text-align: center;

 
}

.googlebutton-banner {
background-color: white;
padding: 3px 60px;
border-radius: 5px;
color:black;
border: rgb(132, 132, 132) solid 1px;
margin-bottom: 50px;
justify-content: center;
font-weight: 700;
font-size: 14px;
}

.googlebutton-banner:hover {
  background-color:#f1f0f0;  
}


.form-row a{
color: white;
}

.form-row a:hover{
  color: #F1C548;
  }

.form-row {
font-size: 14px;  

}


.form-row .terms {
  font-size: 14px;  
  }


.heroBanner .promovideo {
  z-index: 9;
  position: relative;
  margin-top: 10px;

}

.heroBanner  .titlewrapper {
  z-index: 4;
  position: relative;
  color: white;
  text-align: center;
}


.heroBanner  .titlewrapper h2 {
  /* z-index: 4; */
  font-size: 20px;
  text-align: center;
}


.heroBanner  .titlewrapper h1 {
  /* z-index: 4; */
margin-top: 40px;
  text-align: center;
}




.heroBanner img {
height: 100%;
  background-image: cover;
  /* margin */
}



/* .heroBanner {
  background-image: cover;
  height: 720px;
  background-color: #007D6F;
 
} */



/* .heroBanner .banner1 {
  opacity: 0.4;
  z-index: 1;
  
}

.heroBanner .banner2 {
margin-top: -720px;
z-index: 2;
opacity: 0.96;
} */












/*****Hero Banner Ends Here*****/

/*****Why Excelente Works Starts Here*****/

.why-excelente-content img{
width: 300px;
justify-content: center;
}


.whyexcelente img{
  justify-content: center!important;
  display:block;
}


/*****Why Excelente Works Ends Here*****/




/*****Courses Starts Here*****/

.card-title{
  color:#1F4035;
  text-align: center;
}


.card-title:hover{
  color:white;
  text-align: center;

}

.card-body a{
  text-decoration: none;
}



.card {
  background: #fcfcfc;
  transition: 0.4s all;
}

.card:hover {
  opacity: 2;
  transform: translateX(-1px);
  transition: 700ms all;
  background-color: #f4be2c;
}


.card-container button {
 align-items: center;
 justify-content: center;
} 


.sidebar li{
  list-style: none;
  margin: 15px;
}

.sidebar{
  list-style: none;
  margin-top: 30px;
}

.course-category-wrapper {
  background-color: #007D6F;
  justify-content: center;
}

.course-category-wrapper h6 {
color: white;
float: left;
margin-top: 6px;
margin-left: 10px;
}

/*****Courses Ends Here*****/

/*****AboutUs Starts Here*****/




.about {
  width: 100vw;
  min-height: 100vh;
  padding: 100px 50px 50px 50px;
}

iframe{
  margin: 20px;
  margin-right: 0;
}

.videos::-webkit-scrollbar{
  height: 10px;
 outline: none;
}

.videos::-webkit-scrollbar-thumb{
 border-radius: 0;
 background: white;
}

@media ( max-width: 500px){
  .videos::-webkit-scrollbar{
    display: none;
  }
}

.about img{
  height: 600px;
  
}


/*****AboutUs Ends Here*****/


/*****Success Stories Starts Here*****/

.banner{
  background-image: linear-gradient( #EBF3F6, ),
  url("");
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  text-align:center;
  margin-bottom: 100px;

}

.success-stories{
  height: 20%;
}

.image-slider {
  height: 20%;
}



 
 

/* .container{
  display: flex;
  align-items: center;
  justify-content: center;
} */
img {
  max-width: 100%;
}
.image {
  flex-basis: 40%;
}
.text {
  font-size: 20px;
  margin-top: 100px;
  font-weight: 500;
}





/*****Success Stories Ends Here*****/


/*****Join the Community *******/
.joincommunity img{
  width:85% ;
  justify-content: center;
  position: relative  ;
  float: left;
  box-shadow: #007D6F   ;
  
}

.joincommunity{
  position: relative; 
  background-color: #007D6F;
  background-size: cover;
  padding: 10px 30px;

}

 .join-community-title h2 {
  text-align: last;
  text-align: center;
  color: white;
  margin-top: 150px


}



 .join-community-caption{
  text-align: center;
  color: white;
  margin-top: 200px;
 }

 .join-community-caption h4{
  text-align: center;
  color: white !important;
 }



 /*****Join Community Ends Here*****/





 /*****Pricing Starts Here*****/

.price-card h2 {
font-size: 50px;
font-weight: 500;
margin:40px;
}

.price-card div:hover{
 background-color: none !important;   
  }

.pricing-content a {
  color: black;
}

.pricing-content p {
  justify-content: center;
  text-align: center;
}


 /*****Pricing Ends Here*****/

  /*****Contact Us Starts Here*****/


.contact-us {
  margin-top: 100px;
}

  
  /*****Contact Us Ends Here*****/




/*****Footer Starts Here*****/

.main-footer{
  color: white;
  background-color: #1F4035;
  padding-top: none;
  position: relative;
  bottom: 0;
  width: 100%;
  
}

.main-footer img{
  width: 70%;
  margin-top: 30px;
}



.main-footer h4{
  color: white;
}

.footer-logo {
  width: 80%; 
  justify-content: center;
}

.page-container{
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
}

.content-wrap{
  flex: 1;
}

.main-footer a{
 text-decoration: none !important;
 color: white;
}

.main-footer a:hover{
 color: #F1C548;
 
}

.main-footer ul{
  text-decoration-style: none !important;
  list-style-type: none;
  font-size: 15px;
 }

 
.main-footer p{
  font-size: 12px;
  margin-top: 10px;
  text-align: left;
}

.main-footer h6{
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

/*****Footer Ends Here*****/


/*SearchBar*/
.SearchBar{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.searchBar input {
  margin-top: 20px;
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

p {
  margin: 10px;
  font-size: 18px;
}
/*******searchbar end here******/

/*****Scroll Button Starts Here*****/

.scroll-button{
  position: fixed; 
  right: 0;
  bottom: 5px;
  font-size: 24px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
  color: white;
  border: none!important;
  background-color: #007D6F !important;
}

.scroll-button:hover {
border-radius: 20px;
}


/*****Scroll Ends Starts Here*****/

  


@media screen and (max-width:320px) {
.joincommunity .row{
    display: block;

}

.joincommunity .img{

width: 300px;

}

.joincommunity-img2 {
display: none;

}

.navbar ul {
display: block;
background-color: #ffffff;
color: white;
}


}


@media screen and (max-width:576px) {
  .joincommunity .row{
      display: block;
  
  }
  
  .joincommunity .img{
  
  width: 300px;
  
  }
  
  .joincommunity-img2 {
  display: none;
  
  }
  
  .navbar ul {
  display: block;
  background-color: #ffffff;
  color: white;
  }
  
  .promovideo {
    display: none;
  }

  .joincommunity row{
    display: block;
    
  }
  
  }

  