
 .header img{
  width: 80%;
  padding-top: 10px;

 }

 .header ul{
  list-style-type: none;
  display:flex;
  gap: 2rem;
  padding-top: 20px;
  
}


.header li{
  text-decoration: none;
}



nav a{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  height:100%;
  padding: .25rem;
}



nav a:hover{
  color: red;
  }

nav {
  background-color: aqua;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-footer{
  color: white;
  background-color: lightgreen;
  padding-top: 3cm;
  position: relative;
  bottom: 0;
  width: 100%;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*about*/
*/


body {
  width: 100%;
  margin: 0px;
  background-color: #EBF3F6;
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 400;
  font-size: 15px;
 }

.navbar img{
  width: 50%;
margin-left:  50px;

 }

 .navbar ul{
  list-style-type: none;
  display:flex;
  gap: 3rem;
  padding-top: 20px;
  
}


.navbar li{
  text-decoration: none;
}



nav a{
  text-decoration: none;
  color: #EBF3F6;
  display: flex;
  align-items: center;
  height:100%;

  
}

nav li.active{
  font-weight: 500;
  color:#F1C548 !important;
}


nav a.active{
  font-weight: 500;
  color:#F1C548;
}



nav a:hover{
  color: #EBF3F6;
  font-weight: 500;
  }

nav {
  background-color: #007D6F;
  font-weight: 300;
  
}


.login {
  border: solid #F1C548;
  padding: 2px;
  background-color: #F1C548;

}

.container {
  padding: auto;
  padding-top: 120px;
}


/*AboutUs*/




.about {
  width: 100vw;
  min-height: 100vh;
  padding: 100px 50px 50px 50px;
  color: rgb(208, 238, 219);
}

iframe{
  margin: 20px;
  margin-right: 0;

}

.videos{
  transform: translateX(-50px);
  display: flex;
  overflow-x: scroll;
  width: 100vw;
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}

.videos::-webkit-scrollbar{
  height: 10px;
 outline: none;
}

.videos::-webkit-scrollbar-thumb{
 border-radius: 0;
 background: white;
}

@media ( max-width: 500px){
  .videos::-webkit-scrollbar{
    display: none;
  }
}
